<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评测标准维护</title>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-table.css">
</head>
<body>
<div class="container">
    <form class="form-horizontal" id="formAdd" action="#" method="post">

        <div class="divBorder">
            <h4 class="panel panel-heading h4font">
                指标维护
                <small>（＊星号是必填项）</small>
            </h4>

            <div class="panel-body">
                <table id="list" class="table" data-click-to-select="true"></table>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-1">
                <button type="button" class="btn btn-primary">保 存</button>
            </div>

            <div class="col-sm-1">
                <a href="#" class="btn btn-primary">返 回</a>
            </div>
        </div>
    </form>
</div>

<script src="../static/bootstrap/js/jquery-3.3.1.js"></script>
<script src="../static/bootstrap/js/bootstrap-table.js"></script>

</body>
</html>