<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评测指标维护</title>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../static/bootstrap/css/treeview.css">

    <link rel="stylesheet" href="../static/css/admin/subscript/subscriptAdd.css">
</head>
<body>
<div class="container">
    <form class="form-horizontal" id="formAdd" action="#" method="post">

        <div class="divBorder">
            <h4 class="panel panel-heading h4font">
                评测指标维护
            </h4>

            <div class="panel-body">
                <div class="input-group col-sm-8">
                    <!-- 所属评测项目 -->
                    <span class="input-group-addon">评测项目</span>
                    <select class="form-control" id="belongItem">
                        <option value="">-</option>
                    </select>
                    <!-- 所属岗位 -->
                    <span class="input-group-addon">所属岗位</span>
                    <select class="form-control" id="belongOrg">
                        <option value="">-</option>
                    </select>
                </div><br>
                <table id="list" class="table" data-click-to-select="true" style="table-layout: fixed;"></table>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-1">
                <button id="mainBtnAdd" type="button" class="btn btn-primary">添 加</button>
            </div>

            <div class="col-sm-1">
                <button id="mainBtnEdit" type="button" class="btn btn-primary">修 改</button>
            </div>

            <div class="col-sm-1">
                <button id="mainBtnDel" type="button" class="btn btn-primary">删 除</button>
            </div>
        </div>
    </form>
</div>

<!-- 添加 -->
<div class="modal fade" id="mainModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    添加评测指标
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="bs-example bs-example-form" role="form">
                        <!-- 评测项目 -->
                        <div class="input-group">
                            <span class="input-group-addon">评测项目</span>
                            <select class="form-control" id="evaluateItemAdd"><option value=""></option></select>
                        </div><br>
                        <!-- 评测指标 -->
                        <div class="input-group">
                            <span class="input-group-addon">评测指标</span>
                            <select class="form-control" id="evaluateTargetAdd"><option value=""></option></select>
                        </div><br>
                        <!-- 评价周期 -->
                        <div class="input-group">
                            <span class="input-group-addon">评价周期</span>
                            <select class="form-control" id="evaluateCycAdd">
                                <option value="年">年</option>
                                <option value="月">月</option>
                            </select>
                        </div><br>
                        <!-- 权重 -->
                        <div class="input-group">
                            <span class="input-group-addon">权重</span>
                            <input type="text" class="form-control" id="proportionAdd" placeholder="">
                        </div><br>
                        <!-- 是否启用 -->
                        <div class="input-group">
                            <span class="input-group-addon">是否启用</span>
                            <select class="form-control" id="isUseAdd">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div><br>
                        <!-- 调查人员 -->
                        <div class="input-group">
                            <span class="input-group-addon">调查人员</span>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control" id="empRoleAdd" style="float: left;" placeholder="调查人员">
                                <!--指标归类隐藏-->
                                <input type="hidden" readonly class="form-control" id="targetSortAdd" style="float: left;" placeholder="指标归类">
                            </div>
                            <button id="empRoleBtnAdd" type="button" class="btn btn-info" data-target="#myModal" data-toggle="modal">选 择</button>
                        </div><br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_add_cancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_add_ok" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改 -->
<div class="modal fade" id="mainModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    修改评测项目
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="bs-example bs-example-form" role="form">
                        <!-- 评测项目 -->
                        <div class="input-group">
                            <span class="input-group-addon">评测项目</span>
                            <select class="form-control" id="evaluateItemEdit"><option value="" selected></option></select>
                        </div><br>
                        <!-- 评测指标 -->
                        <div class="input-group">
                            <span class="input-group-addon">评测指标</span>
                            <select class="form-control" id="evaluateTargetEdit"><option value="" selected></option></select>
                        </div><br>
                        <!-- 评价周期 -->
                        <div class="input-group">
                            <span class="input-group-addon">评价周期</span>
                            <select class="form-control" id="evaluateCycEdit">
                                <option value="年">年</option>
                                <option value="月">月</option>
                            </select>
                        </div><br>
                        <!-- 权重 -->
                        <div class="input-group">
                            <span class="input-group-addon">权重</span>
                            <input type="text" class="form-control" id="proportionEdit" placeholder="">
                        </div><br>
                        <!-- 是否启用 -->
                        <div class="input-group">
                            <span class="input-group-addon">是否启用</span>
                            <select class="form-control" id="isUseEdit">
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div><br>
                        <!-- 调查人员 -->
                        <div class="input-group">
                            <span class="input-group-addon">调查人员</span>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control" id="empRoleEdit" style="float: left;" placeholder="调查人员">
                                <!--指标归类隐藏-->
                                <input type="hidden" readonly class="form-control" id="targetSortEdit" style="float: left;" placeholder="指标归类">
                            </div>
                            <button id="empRoleBtnEdit" type="button" class="btn btn-info" data-target="#myModal" data-toggle="modal">选 择</button>
                        </div><br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_edit_cancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_edit_ok" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 确定删除 -->
<div class="modal fade" id="mainModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    提示
                </h4>
            </div>
            <div class="modal-body">
                确定删除此项吗？
            </div>
            <div class="modal-footer">
                <button id="btn_del_cancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_del_ok" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 未选中提示框 -->
<div class="modal fade" id="noChoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    提示
                </h4>
            </div>
            <div class="modal-body">
                请选中一项。
            </div>
            <div class="modal-footer">
                <button id="btn_no_choice" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 指标归类-》选择岗位 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    选择调查人员
                </h4>
            </div>
            <div class="modal-body">
                <div id="tree"></div>
            </div>
            <div class="modal-footer">
                <button id="btn_empRole_cancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_empRole_ok" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/bootstrap/js/jquery-3.3.1.js"></script>
<script src="../static/bootstrap/js/bootstrap-table.js"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="../static/js/include/publicMethod.js"></script>
<script src="../static/bootstrap/js/treeview.js"></script>

<script src="../static/js/admin/subscript/subscript.js"></script>
<script src="../static/js/admin/subscript/subscriptAdd.js"></script>

</body>
</html>