<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评测指标维护</title>

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../static/bootstrap/css/treeview.css">
</head>
<body>
<div class="container">
    <form class="form-horizontal" id="formAdd" action="#" method="post">

        <div class="divBorder">
            <h4 class="panel panel-heading h4font">
                评测指标维护
            </h4>

            <div class="panel-body">
                <div class="input-group col-sm-8">
                    <!-- 所属评测项目 -->
                    <span class="input-group-addon">评测项目</span>
                    <select class="form-control" id="belongItem">
                        <option>-</option>
                    </select>
                    <!-- 所属岗位 -->
                    <span class="input-group-addon">所属岗位</span>
                    <select class="form-control" id="belongOrg">
                        <option>-</option>
                    </select>
                </div><br>
                <table id="list" class="table" data-click-to-select="true"></table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-1">
                <button id="mainBtnAdd" type="button" class="btn btn-primary">添 加</button>
            </div>

            <div class="col-sm-1">
                <button id="mainBtnEdit" type="button" class="btn btn-primary">修 改</button>
            </div>

            <div class="col-sm-1">
                <button id="mainBtnDel" type="button" class="btn btn-primary">删 除</button>
            </div>
        </div>
    </form>
</div>

<!-- 添加 -->
<div class="modal fade" id="mainModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    评测指标维护
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="bs-example bs-example-form" role="form">
                        <!-- 评测项目 -->
                        <div class="input-group">
                            <span class="input-group-addon">评测项目</span>
                            <select class="form-control" id="evaluateItem"></select>
                        </div><br>
                        <!-- 评测指标 -->
                        <div class="input-group">
                            <span class="input-group-addon">评测指标</span>
                            <select class="form-control" id="evaluateTarget"></select>
                        </div><br>
                        <!-- 是否启用 -->
                        <div class="input-group">
                            <span class="input-group-addon">是否启用</span>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="radio" value="1" name="isUse">是
                            </div>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="radio" value="0" name="isUse">否
                            </div>
                        </div><br>
                        <!-- 调查人员 -->
                        <div class="input-group">
                            <span class="input-group-addon">评测指标</span>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control" name="empRole" style="float: left;" placeholder="调查人员">
                            </div>
                            <button id="empRoleBtn" type="button" class="btn btn-info" data-target="#myModal" data-toggle="modal">选 择</button>
                        </div><br>
                        <!-- 评价周期 -->
                        <div class="input-group">
                            <span class="input-group-addon">评价周期</span>
                            <select class="form-control" id="evaluateCyc"></select>
                        </div><br>
                        <!-- 权重 -->
                        <div class="input-group">
                            <span class="input-group-addon">权重</span>
                            <input type="text" class="form-control" name="proportion" placeholder="">
                        </div><br>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn_add_cancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_add_ok" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改 -->
<div class="modal fade" id="mainModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    修改评测项目
                </h4>
            </div>
            <div class="modal-body">
                <form class="bs-example bs-example-form" role="form">
                    <!-- 所属评测项目 -->
                    <div class="input-group">
                        <span class="input-group-addon">所属评测项目</span>
                        <select class="form-control" id="belongItemEdit">
                            <option>-</option>
                        </select>
                    </div><br>
                    <!-- 评测标准名称 -->
                    <div class="input-group">
                        <span class="input-group-addon">评测标准名称</span>
                        <input id="standard_edit" type="text" class="form-control" placeholder="评测标准名称">
                    </div><br>
                    <!-- 评测标准描述 -->
                    <div class="input-group">
                        <span class="input-group-addon">评测标准描述</span>
                        <input id="description_edit" type="text" class="form-control" placeholder="评测标准描述">
                    </div><br>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn_edit_cancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_edit_ok" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 确定删除 -->
<div class="modal fade" id="mainModalDel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    提示
                </h4>
            </div>
            <div class="modal-body">
                确定删除此项吗？
            </div>
            <div class="modal-footer">
                <button id="btn_del_cancel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_del_ok" type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 未选中提示框 -->
<div class="modal fade" id="noChoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    提示
                </h4>
            </div>
            <div class="modal-body">
                请选中一项。
            </div>
            <div class="modal-footer">
                <button id="btn_no_choice" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/bootstrap/js/jquery-3.3.1.js"></script>
<script src="../static/bootstrap/js/bootstrap-table.js"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
<script src="../static/js/include/publicMethod.js"></script>
<script src="../static/bootstrap/js/treeview.js"></script>

<script src="../static/js/admin/subscript/subscript.js"></script>
<script src="../static/js/admin/subscript/subscriptAdd.js"></script>

</body>
</html>